body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #fff;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
}

h1 {
  font-size: 22px; 
  text-align: center;
  color: #333;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

.key-list-container {
  height: 340px;
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
}

#keyList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#keyList li {
  font-size: 12px;
  padding: 5px;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#keyList li:last-child {
  border-bottom: none;
}

#keyList li .time {
  flex: 0 0 70%;
  padding-right: 10px;
}

#keyList li .key-description {
  /* flex: 0 0 30%; */
  display: inline-block;
  padding: 2px 6px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #f8f8f8;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  white-space: nowrap;
  text-align: center;
}

.icon-button {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4CAF50;
  transition: background-color 0.3s;
  border: none;
  cursor: pointer;
}

.icon-button:hover {
  background-color: #45a049;
}

.icon-button svg {
  width: 24px;
  height: 24px;
  fill: white;
}

.icon-button .stop-icon {
  display: none;
}

.icon-button.active {
  background-color: #FF0000;
}

.icon-button.active .play-icon {
  display: none;
}

.icon-button.active .stop-icon {
  display: block;
}